## Q1
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units.
A randomly selected sample of cutlets was collected from both units and measured? 
Analyze the data and draw inferences at 5% significance level. 

Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [20]:
# H0: There is no significant difference between the diameter of two units i.e. u1 - u2 = 0
# H1: There is a signficant difference between the diameter of two units i.e. u1 - u2 != 0
alpha = 0.05

In [76]:
path = 'D:/ExcelR/Assignments/Hypothesis testing/'
import pandas as pd
import numpy as np
from scipy import stats
import numpy as np

In [22]:
df = pd.read_csv(f'{path}Cutlets.csv')
df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [23]:
# Since there are 2 samples we use 2 sample t-test
t, p = stats.ttest_ind(df['Unit A'], df['Unit B'])
t, p

(0.7228688704678063, 0.4722394724599501)

In [24]:
# Checking if aplha > p-value
alpha > p

False

#### Conclusion
Since alpha is not greater than p-value we fail to reject H0(Null Hypothesis)

## Q2
A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [25]:
# H0: No difference in average TAT among different labs
# H1: Significant difference in average TAT among different labs
alpha = 0.05

In [26]:
df = pd.read_csv(f'{path}LabTAT.csv')
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [27]:
# Since there are more than 2 samples we use ANOVA test
f, p = stats.f_oneway(df.loc[:, 'Laboratory 1'], df.loc[:, 'Laboratory 2'], df.loc[:, 'Laboratory 3'], df.loc[:, 'Laboratory 4'])
f, p

(118.70421654401437, 2.1156708949992414e-57)

In [28]:
# Checking if aplha > p-value
alpha > p

True

### Conslusion
Since alpha is greater than p-value we reject H0 (Null Hypothesis).

Therefore we can conclude that there is a significant difference in average TAT ammong different labs

## Q3
Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [51]:
# H0: No difference between male-female buyer ratios across regions
# H1: There is a difference between male-female buyer ratios across regions
alpha = 0.05

In [52]:
df = pd.read_csv(f'{path}BuyerRatio.csv', index_col=0)
df

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [57]:
# Since there are more than 2 samples we use ANOVA test
f, p = stats.f_oneway(df['East'], df['West'], df['North'], df['South'])
f, p

(0.3068565327605033, 0.8204060154887464)

In [58]:
# Check if alpha > p
alpha > p

False

### Conclusion
Since alpha is less than p-value we fail to reject H0. 

Therefore we can conclude that there is no difference in the ratios of male-female buyers across regions

## Q4
TeleCall uses 4 centers around the globe to process customer order forms. 
They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. 
Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [94]:
# H0: Defective % does not vary
# H1: Defective % does vary
alpha = 0.05

In [95]:
df = pd.read_csv(f'{path}Costomer+OrderForm.csv')
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [96]:
ph, indi, mal, indo = df['Phillippines'].value_counts(), df['India'].value_counts(), df['Malta'].value_counts(), df['Indonesia'].value_counts()

In [97]:
ph, indi, mal, indo

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64,
 Error Free    280
 Defective      20
 Name: India, dtype: int64,
 Error Free    269
 Defective      31
 Name: Malta, dtype: int64,
 Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64)

In [98]:
obs = np.array([[ph[0], indi[0], mal[0], indo[0]], [ph[1], indi[1], mal[1], indo[1]]])
obs

array([[271, 280, 269, 267],
       [ 29,  20,  31,  33]], dtype=int64)

In [99]:
chi_stats, p_val, df, exp = stats.chi2_contingency(obs)
chi_stats, p_val, df, exp

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [100]:
prob = 1 - alpha
cv = stats.chi2.ppf(prob, df=df)
cv

7.814727903251179

In [101]:
cv > chi_stats

True

### Conclusion

Since critical value is greater than chi2 statistics we fail to reject H0.

Therefore we can conclude that defective % does not vary by centre.